<h1 class="page-header text-center">Add a specialty to the Doctor roster</h1>


<form id="form_id" action="/specialties" method="post">

  <div class="form-group">
    <label for="type">type</label>
    <input required type="text" name="type" id="type" class="form-control" required autofocus>
  </div>
  <button type="submit" name="add_doctor" class="btn-primary">Submit</button>

</form>
